@charset "utf-8";

#myCarousel{
	margin: 50px 0 0 0;
    background: -webkit-radial-gradient(red, green, blue); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(red, green, blue); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(red, green, blue); /* Firefox 3.6 - 15 */
    background: radial-gradient(circle,white, #826335, black); /* 标准的语法（必须放在最后） */
}

.carousel-inner-one img{
	margin: 0 auto;
}
.navbar-brand-1,.navbar-brand-2{
	padding: 6px 0;
}
#navbar-brand-2{
    margin-left: 10px;
}

.carousel-indicators-1 li{
    width: 16px;
    height: 14px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ebedee;
    margin: 5px 1px;
    background-color: #ebedee;
    opacity: .7;
}
.carousel-indicators-2{
    margin-left: 10px;
}
.carousel-indicators .active{
	width: 16px;
    height: 14px;
    border-radius: 5px;
    margin: 5px 1px;
    background-color: #e08a22;
    opacity: .9;
}
/*添加一张背景*/
.top-bg{
    background-image: url('../img/top_bg.jpg');
    background-size: contain;
    background-repeat: repeat-x;
}

@media screen and (max-width: 790px) {
    .top-bg {
       background-size: cover;
    }
}

.nav-tabs-fontsize{
    font-size: 18px;
    line-height: 50px;
    color: white;
    letter-spacing: 2px;
}

.row-li-style li{
    border: 1px solid #e0e6db;
    border-radius: 13px;
    background-color: rgb(51, 122, 183);
}
/*照片墙的样式*/
.zhpq-h2{ font-size: 30px; letter-spacing: 1px;margin-top: 30px; }
.zhpq-p{ font-size: 20px; letter-spacing: 1px;margin-top: 30px;}
@media screen and (max-width: 790px) {
    .zhpq-h2{ font-size: 20px; margin-top: 15px; }
    .zhpq-p{ font-size: 12px; margin-top: 15px;}
}
.pic-show{ display: block;margin-left: auto;margin-right: auto; }
.pic-show-picture{ width: 40%; float: left;margin-top: 10px; }
.pic-show-body h3{ margin-top: 10px; }
.pic-show-body{ width: 56%;float: right;margin-left: 3%; }
@media screen and (max-width: 790px) {.pic-show-body p{ font-size:12px; }}

/*这里是真正的项目*/
